@model Fodraszat.Models.Jobs

@{
    ViewBag.Title = "Munkák - részletek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Munka részletei</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Név
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Rezsi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overhead)
        </dd>

        <dt>
            Ár
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p class="right">
    @Html.ActionLink("Szerkesztés", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Vissza a listához", "Index")
</p>
