@model Fodraszat.Models.Materials

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Törlés</h2>

<h3>Biztosan törölni akarod?</h3>
<div>
    <h4>Anyag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Név
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Egységár (g)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            Mennyiség (g/doboz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityPerBox)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            @Html.ActionLink("Vissza", "Index")
        </div>
    }
</div>
