@model Fodraszat.Models.Materials

@{
    ViewBag.Title = "Anyagok - részletek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anyag részletei</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Név
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Egységár (g)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            Mennyiség (g/doboz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityPerBox)
        </dd>

    </dl>
</div>
<p class="right">
    @Html.ActionLink("Szerkesztés", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Vissza", "Index")
</p>
