@model Fodraszat.Models.Invoices

@using Fodraszat.Models;

@{
    ViewBag.Title = "Számlák - létrehozás";
    List<SelectListItem> hairdressers = ViewData["HairDressers"] as List<SelectListItem>;
    List<ExtendedSelectListItem> jobs = ViewData["Jobs"] as List<ExtendedSelectListItem>;
    List<ExtendedSelectListItem> materials = ViewData["Materials"] as List<ExtendedSelectListItem>;
    List<ExtendedSelectListItem> products = ViewData["Products"] as List<ExtendedSelectListItem>;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Számla létrehozása</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-inline invoices">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="display-price">
            <label id="totalCost">0</label>
        </div>

        <table class="table jobs table-50 col-5 right">
            <thead>
                <tr>
                    <th>Fodrász</th>
                    <th>Munka</th>
                    <th>Kedvezmény</th>
                    <th>Ár</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="data">
                    <td>
                        @Html.DropDownList("hairdressers", hairdressers)
                    </td>
                    <td class="data">
                        <select id="jobs" name="jobs" onchange="updateTablePrices($(this));">
                            @foreach (var option in jobs)
                            {
                                <option value="@option.Value" data-cost="@option.Price">@option.Text</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="number" name="jobDiscount" min="0" onchange="updatePricePerDiscount($(this));" />
                    </td>
                    <td></td>
                    <td>
                        <a href="#" class="delete" onclick="removeRow($(this));">Törlés</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button id="btnJob" onsubmit="event.preventDefault();">Új munka</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table materials table-50 col-5 right">
            <thead>
                <tr>
                    <th>Anyag</th>
                    <th>Mennyiség (g)</th>
                    <th></th>
                    <th>Ár</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="data">
                    <td>
                        <select id="materials" name="materials" onchange="updateTablePrices($(this));">
                            @foreach (var option in materials)
                            {
                                <option value="@option.Value" data-cost="@option.Price">@option.Text</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="number" id="qMaterial" min="1" onchange="updatePricePerQuantity($(this));" />
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" class="delete" onclick="removeRow($(this));">Törlés</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button id="btnMaterial" onsubmit="event.preventDefault();">Új anyag</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table products table-50 col-5 right">
            <thead>
                <tr>
                    <th>Vásárolt termék</th>
                    <th>Mennyiség (db)</th>
                    <th></th>
                    <th>Ár</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="data">
                    <td>
                        <select id="products" name="products" onchange="updateTablePrices($(this));">
                            @foreach (var option in products)
                            {
                                <option value="@option.Value" data-cost="@option.Price">@option.Text</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="number" id="qPeoduct" min="1" onchange="updatePricePerQuantity($(this));" />
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="#" class="delete" onclick="removeRow($(this));">Törlés</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <button id="btnProduct" onsubmit="event.preventDefault();">Új termék</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-50 right">
            <tr>
                <th>
                    Vendég neve
                </th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.Editor("Client", new { htmlAttributes = new { @class = "form-control" } })
                </td>
                <td>
                    <input type="submit" id="btnSubmit" value="Számla felvétele" class="btn btn-default" />
                </td>
                <td>
                    @Html.ActionLink("Vissza a listához", "Index")
                </td>
            </tr>
        </table>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
