@model Fodraszat.Models.InvoiceDetails

@{
    ViewBag.Title = "Számlák - részletek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Számla részletei</h2>

<div>
    <hr />

    <div class="display-price">
        <label id="totalCost">@Model.TotalPrice</label>
    </div>

    @if (Model.Jobs != null && Model.Jobs.Any())
    {
        <table class="table table-50 col-4 right">
            <thead>
                <tr>
                    <th>Fodrász</th>
                    <th>Munka</th>
                    <th>Kedvezmény</th>
                    <th>Ár</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Jobs)
                {
                    <tr>
                        <td>
                            @item.HairDresser
                        </td>
                        <td>
                            @item.Job
                        </td>
                        <td>
                            @item.Discount
                        </td>
                        <td>
                            @item.Price
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
    @if (Model.Materials != null && Model.Materials.Any())
    {
        <table class="table table-50 col-4 right">
            <thead>
                <tr>
                    <th>Anyag</th>
                    <th>Mennyiség (g)</th>
                    <th></th>
                    <th>Ár</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Materials)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>

                        </td>
                        <td>
                            @item.Price
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }

    @if (Model.Products != null && Model.Products.Any())
    {
        <table class="table table-50 col-4 right">
            <thead>
                <tr>
                    <th>Vásárolt termék</th>
                    <th>Mennyiség (db)</th>
                    <th></th>
                    <th>Ár</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td></td>
                        <td>
                            @item.Price
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    
    <table class="table table-50 right">
        <tr>
            <td>
                @Html.ActionLink("Vissza a listához", "Index")
            </td>
        </tr>
    </table>

</div>
