@using Fodraszat.Models.ResponseObjects


@{
    ViewBag.Title = "Statisztika";
    List<SelectListItem> hairdressers = ViewData["HairDressers"] as List<SelectListItem>;
    Layout = "~/Views/Shared/_Layout.cshtml";
    StatisticsResponse stats = ViewData["Stats"] as StatisticsResponse;
}

<h2>Statisztika</h2>


<br>
@using (Html.BeginForm("Index", "Statistics", FormMethod.Post))
{
    <div class="form-group filters">
        <div class="filter">
            @Html.DropDownList("hairdressers", hairdressers)
            @Html.ValidationMessage("hairdressers", "", new { @class = "text-danger" })
        </div>
        <div class="filter">
            @Html.TextBox("StartDate", "", new { @class = "date-picker" })
        </div>
        <div class="filter">
            @Html.TextBox("EndDate", "", new { @class = "date-picker" })
        </div>
        <div class="filter">
            <input type="submit" value="Lekérdezés" />
        </div>
    </div>
}


<table class="table statistics right table-75">
    <tr>
        <th>
            Fodrász
        </th>
        <th>
            Dátum
        </th>
        <th>
            Munka
        </th>
        <th>
            Ár
        </th>
        <th>
            Kedvezmény
        </th>
        <th>
            Rezsi
        </th>
        <th>
            Fizetés
        </th>
    </tr>

    @if (stats != null && stats.StatisticsDetails != null && stats.StatisticsDetails.Count > 0)
    {
        foreach (var item in stats.StatisticsDetails)
        {
            <tr>
                <td>
                    @item.HairDresser
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.Job
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Discount
                </td>
                <td>
                    @item.Overhead
                </td>
                <td>
                    @item.Salary
                </td>
            </tr>
        }
    }

</table>

@if (stats != null)
{
    <table class="table right table-75">
        <tr>
            <th colspan="3"></th>
            <th>
                Teljes Ár
            </th>
            <th>
                Összes Rezsi
            </th>
            <th></th>
            <th>
                Összes Fizetés
            </th>
        </tr>

        <tr>
            <td colspan="3"></td>
            <td>
                @stats.TotalPrice
            </td>
            <td>
                @stats.TotalOverhead
            </td>
            <td></td>
            <td>
                @stats.TotalSalary
            </td>
        </tr>

    </table>
}



